@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}
<div style="text-align:center"><h1 style="color:red";> Adam was here </h1></div><br>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
